body{
				background-color: darkslategray;
			}
			#container{
				position: absolute;
				width:100%;
				height: 740px;
				background-color: blue;
				background-image: url(../../img/bigimg/loginbg.jpg);
				background-size: 100% auto;
				background-repeat: no-repeat;
				z-index: 10;
			}
			#login_bg{
				position: absolute;
				left: 318px;
				right: 318px;
				top: 127px;
				bottom: 127px;
				z-index: 20;
				background-color:rgb(0,238,238,0.2);
				/* 宽：900px
				   高：500px
				 */
			}
			#login_main{
				position: absolute;
				left: 210px;
				right: 210px;
				top: 20px;
				bottom: 20px;
				/* 
				 宽：340px
				    高：440px
				 */
			}
			h1{
				font-size: 40px;
				text-align: center;
				font-family: 楷体;
				color: #CD5B45;
			}
			label{
				font-size: 25px;
				font-family: 华文新魏;
				color: #458B74;
			}
			#login_input{
				position: relative;
				top: 30px;
				text-align: center;
			}
			#login_pwd{
				position: relative;
				top: 80px;
				text-align: center;
			}
			#login_btn{
				position: absolute;
				top: 280px;
				width: 130%;
			}
			.input{
				border-width: 1px;
				border-style: solid;
				border-radius: 20px;
				height: 35px;
				width: 260px;
				background-color: rgb(83,134,139,0.5);
				outline: none;
				font-size: 20px;
				color: rgb(241,237,194);
			}
			a:hover{
		       text-decoration: none;
			}
			#drawback{
				position: absolute;
				top: 20px;
				right: 20px;
				width: 30px;
				height: 30px;
			}