body{
				background-color: darkslategray;
			}
			#container{
				position: absolute;
				width:100%;
				height: 740px;
				background-color: blue;
				background-image: url(../../img/bigimg/loginbg.jpg);
				background-size: 100% auto;
				background-repeat: no-repeat;
				z-index: 10;
			}
			#login_bg{
				position: absolute;
				left: 318px;
				right: 318px;
				top: 127px;
				bottom: 127px;
				z-index: 20;
				background-color:rgb(0,238,238,0.2);
				/* 宽：900px
				   高：500px
				 */
			}
			#login_main{
				position: absolute;
				left: 210px;
				right: 210px;
				top: 20px;
				bottom: 20px;
				/* background: green; */
				/* 
				 宽：340px
				    高：440px
				 */
			}
			h1{
				font-size: 40px;
				text-align: center;
				font-family: 楷体;
				color: #CD5B45;
			}
			label{
				font-size: 20px;
				font-family: 华文新魏;
				color: #66cd00;
			}
			.input{
				border-width: 1px;
				border-style: solid;
				border-radius: 20px;
				height: 30px;
				width: 260px;
				background-color: rgb(83,134,139,0.5);
				outline: none;
				font-size: 20px;
				color: rgb(241,237,194);
				/*  */
			}
			a:hover{
			   text-decoration: none;
			}
			#register{
				position: relative;
				text-align: center;
			}
			#register_check{
				position: relative;
				height: 40px;
				width: 300px;
				/* background-color: blueviolet; */
				padding-left: 35px;
			}
			#register_submit{
				position: relative;
				top: 40px;
				text-align: center;
			}
			#register_btn{
				position: relative;
				height: 40px;
				width: 200px;
				left: 150px;
				right: 150px;
				background:rgba(41,36,33,0.6);
				font-size: 30px;
				text-align: center;
				vertical-align: center;
				font-family: 华文楷体;
				border:solid;
				border-color: white;
				border-radius: 20px;
			}
			#drawback{
				position: relative;
				top: 20px;
				left: 830px;
				width: 30px;
				height: 30px;
			}
			/* 验证码输入框样式 */
			.check{
				border-width: 1px;
				border-style: solid;
				border-radius: 20px;
				height: 35px;
				width: 120px;
				background-color: rgb(83,134,139,0.5);
				outline: none;
				font-size: 20px;
				color: rgb(241,237,194);
			}
			#check_input{
				position: relative;
				left: 0px;
			}
			#check_num{
				position: absolute;
				top:3px;
				left: 300px;
				height: 40px;
				width: 100px;
				/* background-color: red; */
				text-align: center;
				vertical-align: center;
				line-height: 40px;
				font-size: 20px;
			}